<header class="border-b md:flex md:items-center md:justify-between p-4 pb-0 shadow-lg md:pb-4">
  
    <!-- Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:mb-0">
      <h1 class="leading-none text-2xl text-grey-darkest">
        <a class="no-underline text-grey-darkest hover:text-black" href="#">
          COMP-3330 
        </a>
      </h1>
  
      <a class="text-black hover:text-orange md:hidden" href="#">
        <i class="fa fa-2x fa-bars"></i>
      </a>
    </div>
    <!-- END Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:w-1/4 md:mb-0">
      <h1 class="leading-none text-2xl text-grey-darkest">
        <a class="no-underline text-grey-darkest hover:text-black" href="https://tailwindcss.com/">
          TailwindCSS
        </a>
      </h1>
    </div>
    <!-- Search field -->
    <form #myForm="ngForm" class="flex mb-4 w-full md:mb-0 md:w-1/4">
      <label class="hidden" for="search-form">Search</label>
      <input [(ngModel)]="search" name="searchModel" #searchModel="ngModel" id="search" required class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full"
        placeholder="Just For Show ...." type="text">
      <button type="submit" (click)="submit($event)"
        class="mx-5 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Search</button>
    </form>
    <!-- END Search field -->
    
    <!-- Global navigation -->
    <nav>
      <ul class="list-reset md:flex md:items-center">
        <li class="md:ml-4">
          <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#calculator">
            Calculator
          </a>
        </li>
        <li class="md:ml-4">
          <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#cart">
           Shopping Cart
          </a>
        </li>
      </ul>
    </nav>
    <!-- END Global navigation -->
  
  </header>